
.carousel__container{
  width: 90cqw;
  /* aspect ratio? when set to 500px wide height is 484 with padding being 10px if added the padding to top and bottom would be 4 px off being square and as the ratio depends on a fixed 3px that 4px is within error.  */
  height: 51cqw;
  container-type: size;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}
[data--carousel__modal-container="true"]{
  height: 90cqw;


  --button-width-rotate: 15.4cqw; /* calc(1.4 * (var(--button-width) + 1cqw)); */
  --button-offset: 0cqw; /* calc(0.2 * (var(--button-width) + 1cqw)) */

  --picture-frame-padding: 2cqw; /* set manually */
  --picture-frame-offset: 9.7cqw; /* calc((var(--button-width-rotate) / 2) + var(--picture-frame-padding)); */
  --picture-frame-width: 96cqw; /* calc(100cqw - (2 * var(--picture-frame-padding))) */

  --image-container-width: 88cqw; /* calc(var(--picture-frame-width) - (4 * var(--picture-frame-padding))); */
  --image-container-height: 49.5cqw; /* calc(var(--image-container-width) /16 * 9);  */
  --image-container-offset: 13.7cqw; /* calc(var(--picture-frame-offset) + (2 * var(--picture-frame-padding)));  */
  --alt-text-box-height: 4.95cqw; /* calc(var(--image-container-height) * 0.1);  */
  --alt-text-box-offset: 63.2cqw; /* calc(var(--image-container-offset) + var(--image-container-height)); */
  --picture-frame-height: 62.45cqw; /* calc(var(--image-container-height) + var(--alt-text-box-height) + (4 * var(--picture-frame-padding))); */

  --button-offset-down: 66.45cqw; /*calc(var(--picture-frame-height) + var(--button-offset) + (2 * var(--picture-frame-padding)) );   */

  --thumbnail-width: 20.5cqw; /* calc((var(--picture-frame-width) - (var(--picture-frame-padding) * 3)) / 4); */
  --thumbnail-height: 11.53125cqw; /* calc(var(--thumbnail-width) /16 * 9); */
  --thumbnail-container-offset: 83.85cqw; /*calc(var(--button-offset-down) + var(--picture-frame-padding) + var(--button-width-rotate) - var(--button-offset) );  */

  --fancy-offset: 2cqw; /* var(--picture-frame-padding) */
  --fancy-boarder-width: 1px; /* set manually */
  --fancy-color:var(--black--gradient); /* set manually */

}
[data--carousel__modal-container="false"]{
  /* to stay still all height off sets should be changed by by scale factor (100/88)  */
  /* and offsets should be altered by adjusted image offset (adjust 13.7 and 4) */

  --button-width-rotate: 15.4cqw; /* unchanged */
  --button-offset: 25.578cqw; /*  */

  --picture-frame-padding: 2cqw; /* unchanged */
  --picture-frame-offset: 3cqw; /* 1.5 the padding*/
  --picture-frame-width: 94cqw; /* added the buffer */

  --image-container-width: 100cqw; /* max */
  --image-container-height: 56.25cqw; /* width /16 * 9);  */
  --image-container-offset: 0cqw; /* at top  */
  --alt-text-box-height: 4.95cqw; /* unchanged */
  --alt-text-box-offset: 10cqw; /*  */
  --picture-frame-height: 50.25cqw; /* image height - 2*1.5*padding */

  --button-offset-down: 10.178cqw; /* temp */

  --thumbnail-width: 20.5cqw; /* unchanged */
  --thumbnail-height: 11.53125cqw; /* unchanged */
  /* --thumbnail-container-offset: 44cqw; image height - thumb height  */
  --thumbnail-container-offset: 28.125cqw; /*midpoint */

  --fancy-color:var(--black--gradient); /* unchanged */



  --fancy-offset: 2cqw; /* var(--picture-frame-padding) */
  --fancy-boarder-width: 0.43px; /* TODO change on screen ratio */
}

.carousel__button-up, .carousel__button-down {
  width: var(--button-width-rotate);
  height: var(--button-width-rotate);
  position: absolute;
  color: var(--gold--border);
}

.carousel__button-up{
  top: var(--button-offset);
}

.carousel__button-down{
  top: var(--button-offset-down);
  /* rotate: 45deg; */
}
.carousel__picture-frame{
  width: var(--picture-frame-width);
  height: var(--picture-frame-height);
  position: absolute;
  top: var(--picture-frame-offset);
  container-type: size;
}

.carousel__frame{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  container-type: size;
  background:black;
  display: flex;
  justify-content: center;
  z-index: 3;
}
[data--carousel__modal-frame="true"]{
  width: var(--image-container-width);
  height: var(--image-container-height);
  top:var(--image-container-offset);
}

.carousel__card{
  position: absolute;
  height: 100cqh;
  width: 100cqw;
  top: 0px;
  background: black;
}
.carousel__card img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.carousel__text-box{
  position: absolute;
  width: var(--image-container-width);
  height: var(--alt-text-box-height);
  top: var(--alt-text-box-offset);
  z-index: 2;
  overflow: hidden;
}
.carousel__text-box p{
  font-size: 4cqw;
}

.carousel__thumbnail{
  width: var(--thumbnail-width);
  height: var(--thumbnail-height);
}

.carousel__thumbnails-container{
  position: absolute;
  width: var(--picture-frame-width);
  height: var(--thumbnail-height);
  top: var(--thumbnail-container-offset);
  display: flex;
  justify-content: space-around;
}
