.contact-screen__main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-screen__card{
  position: relative;
  /* height: 33vh; */
  width: max-content;
  z-index: 1;
  overflow: hidden;
  border: 1px solid var(--gold--border);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}


.contact-screen__main-container svg {
  color: var(--purple--accent);
}









.boxText{
  position: relative;
  z-index: 2;
  font-size: 3vh;
  padding: 3vh;
}
.boxText a{
  color: var(--gold--text);
  margin-left: 3vh;
}
.boxText a:hover{
  color: black;
  background: var(--gold--text);
}
.boxText h3{
  margin-block-start: 0;
  margin-block-end: 1vh;
}
.boxAccent{
  /* display: flex;
  flex-wrap: wrap;
  gap: 40px; */
  position: absolute;
}

@media(max-aspect-ratio: 1.39){
  /* .contact-screen__card{width: 66vw;} */
  .boxText{font-size: 5vw;}
}
