.contact-screen__main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items:center;
  justify-content:center;
}

.contact-screen__card{
  position:relative;
  height: 200px;
  height: 305px;
  width: 33vw;
  z-index: 1;
  margin: 50px;
  overflow: hidden;
  border: 1px solid var(--gold--border);
}


.contact-screen__main-container svg {
  color: var(--purple--accent);
}

@media(max-aspect-ratio: 1/1){

  .contact-screen__card{width: 66vw;}
}
