.home-screen__main-container{
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  margin-bottom: 5vh;
  margin-top: 5vh;
}
.home-screen__text-box {
  position:relative;
  height: 100px;
  width: 600px;
  z-index: 1;
  margin: 50px;
  border: 1px solid var(--gold--border);
}









.box{
  position:relative;
  height: 200px;
  height:305px;
  width: 400px;
  z-index: 1;
  margin: 50px;
  overflow: hidden;
  border: 1px solid var(--gold--border);
}

.name{
  font-size: 80px;
  margin: 30px;
}

.diamond{
  position:relative;
  height: 30px;
  width: 30px;
  rotate: 45deg;
  z-index:1.5;
}
.boxText{
  position:absolute;
  z-index:2;
  font-size: 30px;
  left: 10px;
  top: 0px;
}
.boxAccent{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
