.home-screen__main-container{
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  margin-bottom: 5vh;
  margin-top: 5vh;
}
.home-screen__text-box {
  position:relative;
  width: 70vw;
  z-index: 1;
  margin: 50px;
  border: 1px solid var(--gold--border);
  font-size: 2vw;
}


.home-screen__name-plate{
  position:relative;
  width: 50vw;
  z-index: 1;
  margin: 50px;
  overflow: hidden;
  border: 1px solid var(--gold--border);
  color: var(--black);
  background: var(--gold--name-plate);
  font-size: 13vw;
  text-align: center;
}

@media(max-aspect-ratio: 1/1){
  .home-screen__name-plate{
    width: 90vw;
    font-size: 30vw;

  }
  .home-screen__text-box {
    width: 90vw;
    font-size: 8vw;

  }

}







.boxText{
  position:absolute;
  z-index:2;
  font-size: 30px;
  left: 10px;
  top: 0px;
}
.boxAccent{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
