.box{
  position:relative;
  height: 200px;
  width: 400px;
  z-index:1;
  margin: 50px;
  overflow: hidden;
}

.name{
  font-size: 80px;
  margin: 30px;

}

.diamond{
  position:relative;
  height: 30px;
  width: 30px;
  rotate: 45deg;
  z-index:1.5;
}
.boxText{
  position:absolute;
  z-index:2;
  font-size: 20px;
  left: 10px;
  top: 0px;
}
.boxAccent{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
